body {
    font-family: 'Poppins', sans-serif;
}
footer{
    font-family: 'Poppins',sans-serif;
}
.header {
    height: 600px;
    width: 100%;
    background-image: url("cafe.filter.25.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.header .name {
    text-align: center;
    vertical-align: middle;
    color: #FEFEFE;
    font-size: 100px;
    position: relative;
    top: 0px;
    font-weight: 600;
}

.nav {
    background-color: #a50000;
}

.grapes {
    color: #e5d3a0 ;
}



.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services {
    position: relative;
    text-align: center;
    
}



.Team img {
    float:right;
    width: 150px;
    Height: 150px;
    border-radius: 10%;

    margin-left: auto;
    margin-right:auto;


}

.Team h1 {
    font-size: 40px;
    text-align:center;
}

.Team h2 {
    font-size: 25px;
    
}

.Team h3 {
    font-size: 15px;
   
}

    


.contact .form-control {

    border-radius: 0 !important;
    z-index: 1;
}

.contact span {
    width: 30px;
    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #fa0511;
    color: #fff;
    z-index: 1;
}

.contact .btn:hover {

    background-color: #778899 !important;
    color: #fff !important;
}

.contact i {
    text-align: center;
    padding: 5px;
}

.fab {
    padding: 20px;
}

.carousel-item img {
    width: 30%;
    height: 600px;
    background-size: 100% 100%;

    
}

.carousel-caption p {
    text-align: center;
    vertical-align: middle;
    color: #FEFEFE;
    font-size: 20px;
}
.carousel-caption {
    top:50px;
}
.carousel-caption h1{
     font-size: 52px;
 }

.trusted #reviewer {
    border-radius: 40%;
    width: 100%;
}

.trusted p {
    padding: 15px;
}

.trusted i {
    font-size: 55px;
    padding: 15px;
}

.customer {
    height:50%;
    width: 79%;
    background-size: cover;
    border-radius: 45%;
}

.customer p {
    margin-top: 10px;
}

.customerdream {
    width:58%;
    border-radius:60px;
}

.customerwish {
    width:68% ;
    height:50%;
    border-radius:60px;
}

.card img{
    width: 60px;
    height: 60px;
    border-radius:50px;
}

.social {
   color:white;
   position: relative;
   left: 620px;
   top:-10px;
   display: inline;
}

.location iframe{
    position: absolute;
    left:0px;
    top: -10px;
}

.footer button{
    background-color:brown;
    color:white;
}

.footer p{
    color: white;
    text-align: center;

}
.footer i{
    color: white;
    position:relative;
    left:80px;
}

.footer spam{
    display: inline;
}
.footer h7{
    font-size: 13px;
}
.navbar ul{
    position: absolute;
    top: 10px;
}
.navbar i{
    position:relative;
    left:5px;
}